@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url('../img/back2.jpg');
 
  background-size: cover;
  

  font-family: 'Open Sans', sans-serif;
}

main{
  max-width: 1024px;
  margin: auto;
  /* background-color: black; */
  padding: 25px;
  /* opacity: 0.5; */

}

#hide{
  display: none;
}


h1{
  margin: 0;
  text-align: center;
  padding: 25px;
  color: white;
  font: 1000 5em "Montserrat", bold;
}

#search{
  width: 50%;
  margin: auto;
  text-align: center;
}

#search input{
  width: 100%;
}

#result{
  width: 100%;
  resize: none;
  background:black;
  opacity: 0.50;
  color: white;
}

#loader{
margin-top: 10px;
margin-left: 300px;
/* display: none; */
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
